/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "MuseoModerno", cursive;
}

h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: black;
  font-size: 2.5rem;
  text-decoration: none;
}

/* Nav Section With HERO */

.main-head {
  background-color: white;
  color: black;
  position: sticky;
  top: 0px;
  z-index: 3;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

.active {
  border-radius: 5rem;
  padding: 1rem 2rem;
  background: rgb(249, 168, 38);
  a {
    color: white;
  }
  &:hover {
    opacity: 0.7;
    pointer-events: pointer;
  }
}

// HEADER-SECTION
.flex-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

header,
form {
  display: flex;

  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
  }
}
.flex-wrap > header {
  padding: 6rem 0;
}
.flex-wrap > form {
  padding-bottom: 4rem;
}
form input,
form button {
  border: none;
  padding: 0.5rem;
  background: rgb(249, 168, 38);
  color: white;
  font-size: 3rem;
}
form button {
  transition: all 0.5s ease;
  cursor: pointer;
  &:hover {
    background: white;
    color: rgb(249, 168, 38);
  }
}

// Todo
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
}
.todo {
  background: rgba(233, 233, 233, 0.972);
  color: black;
  font-size: 3rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s ease;
  li {
    flex: 1;
    font-size: 2.5rem;
    padding: 0.5rem 2rem;
  }
}
.complete-btn,
.trash-btn {
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}
.complete-btn {
  background: rgb(80, 202, 80);
}
.trash-btn {
  background: rgb(255, 88, 46);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  opacity: 0.5;
  text-decoration: line-through;
}

.remove {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

// MEDIA QUERIES
@media only screen and (max-width: 930px) {
  nav {
    text-align: center;
    #logo {
      padding: 2rem;
    }
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 405px) {
  form {
    padding: 0 8rem;
    margin: auto;
    input {
      width: 100%;
      margin: auto;
    }
  }
}
